.footer {
  background-color: #2f303a;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
}

.address {
  margin: 20px 0 0 0;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: center ;
}
.location {
  font-size: 14px;
  line-height: 24px;
  color: var(--color-white);
}

.address-mail {
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-item:not(:last-child){
  margin-bottom: 9px;
}

.address-tel {
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}
.sosial-text{
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
}

.my-social-link{
  margin-bottom: 60px;
}

.footer-cont{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.footer-nav-cont{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 60px;
}

.logo{
  margin: 0;
}

// form

.footer-form-input{
  padding: 15px 16px 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--color-grey);
  margin-bottom: 20px;
  width: 450px;
  
}

.icon-icon-send{
  margin-left: 10px;
}

.button-cont{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-form{

}

.footer-form-cont{
  display: flex;
  flex-direction: column;

}



// mobile

@media screen and (max-width: 767px){

}


// TABLET

@media screen and (min-width: 768px){

}


// DESKTOP

@media screen and (min-width: 1200px){

}