.container-project{
  display: flex;
  flex-wrap: wrap;
}


.window-text-pic{
  position: relative;
  overflow: hidden;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  &:hover,
  &:focus{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }

}

.window-text-pic-card{
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}


.window-text{
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--color-white);
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}

.text-project-box{
  padding: 20px 24px 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
  height: 100%;
}


.project-name{
  letter-spacing: 0.06em;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  color: var(--color-black);
  margin-bottom: 4px;
}

.project-text{
  letter-spacing: 0.03em;
  color: var(--color-grey);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.container-button{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-top: 60px;
}

.btn-item:not(:last-child){
  margin-right: 8px;
}

.btn-item{
  margin-bottom: 15px;
}

.project{
  margin-bottom: 30px;

  &:hover .window-text{
  transform: translateY(0%);
  background-color: rgba(33, 150, 243, 0.9);
  
  }
}

// .window-text{
//   font-size: 18px;
//   line-height: 28px;
//   letter-spacing: 0.03em;
//   color: var(--color-white);
//   background-color: rgba(33, 150, 243, 0.9);
//   position: absolute;
//   bottom: 0;
//   width: 100%;
//   height: 100%;
//   padding: 63px 24px;
//   transform: translateY(100%);
//   transition: transform 250ms linear;
// }


// .main{
//   padding: 94px 0 94px 0;
// }


// mobile

@media screen and (max-width: 767px){
  
}


// TABLET

@media screen and (min-width: 768px){
  .container-button{
    justify-content: center;
  }
  .project{
    width: calc((100% - 60px) / 2);
    &:nth-child(odd){
      margin-right: 30px;
    }
    
  }


}


// DESKTOP

@media screen and (min-width: 1200px){

  .project{
    width: calc((100% - 90px) / 3);
    &{
      margin-right: 30px;
    }
  }

  .container-project{
    margin-right: -30px;
  }

  

}