.quality{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

.quality-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.quality-box-icon{
  background-color:#F5F4FA;
  border-radius: 4px;
  height: 120px;
  max-width: 450px;
  width: 100%;
  text-align: center;
  padding: 25px 0;
  margin-bottom: 30px;
  justify-content: center;
}

.quality-name{
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-black);
  margin-bottom: 10px;
}

.quality-text{
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--color-grey);
}

.main-quality{
  padding-bottom: 60px;
  padding-top: 60px;
}

// mobile

@media screen and (max-width: 767px){
}

// TABLET

@media screen and (min-width: 768px){
  .quality{
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: -30px;
  }

  

  .quality-box{
    width: 100%;
    width: 354px;
    margin-bottom: 30px;
    &:nth-child(odd){
      margin-right: 30px;
    }
  }
}


// DESKTOP

@media screen and (min-width: 1200px){

  .quality-box{
    &:not(:last-child){
      margin-right: 30px;
    }
    width: 270px;
    align-items: flex-start;

  }


  .main-quality{
    padding-top: 94px;
  }

  
}
