.logo--black{
  color: var(--color-black);
}

.logo--blue{
  color: var(--color-blue);
}

.logo--white{
  color: var(--color-white);
}


.logo {
  margin: 0 93px 0 0px;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo--raleway{
  font-family: var(--logo-font) ;
}