.team__social-list{
  display: flex;
  justify-content: space-between;
}

.team__icon-border{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__icon-border:hover, 
.team__icon-border:focus{
  background-color: var(--color-blue);
}

.team__icon-border:hover .team__social-icon,
.team__icon-border:focus .team__social-icon{
  fill: var(--color-white);
}

.team__social-icon{
  fill: var(--color-grey-icon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



// footer

.footer-cont-icon{
  display: flex;
}

.footer-item-icon:not(:last-child){
  margin-right: 10px;  
}

.footer-icon-border{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:not(:last-child){
    margin-right: 10px;
  }

  &:hover, 
  &:focus{
    background-color: var(--color-blue);
  }
}


.footer-team-icon{
  fill: var(--color-white);
}
